<%if(typeof user === "undefined") user = {password: ""};%>
<%- include('partials/admin-header') %>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <%- include("partials/admin-toolbar", {username:user.username}) %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Name
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="nameHolder"><%= user.name %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user fa-2x text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Email
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="emailHolder"><%= user.email %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-envelope fa-2x text-warning"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Gender
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="genderHolder"><%= user.gender %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-male fa-2x text-success"></i>
                                    <i class="fas fa-female fa-2x text-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        Password
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="passwordHolder"><%= "*".repeat(8) %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-lock fa-2x text-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-5">
                    <a href="#updateForm" class="btn btn-dark" data-toggle="collapse" role="button"
                       aria-expanded="true" aria-controls="updateForm">
                        <i class="fa fa-pen"></i>
                        update info
                    </a>
                    <a href="#updatePasswordForm" class="btn btn-dark" data-toggle="collapse" role="button"
                       aria-expanded="true" aria-controls="updatePasswordForm">
                        <i class="fa fa-user-lock"></i>
                        update password
                    </a>
                    <button id="deleteMe" class="btn btn-danger">
                        <i class="fa fa-user-times"></i>
                        Delete my Account
                    </button>
                </div>

                <div class="col-sm-12 collapse" id="updateForm">
                    <div class="col-md-6">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" value="<%= user.name %>">
                    </div>
                    <div class="col-md-6">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" value="<%= user.username %>">
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" value="<%= user.email %>">
                    </div>
                    <div class="col-md-6">
                        <label for="gender">Gender:</label>
                        <select id="gender" class="form-control">
                            <option>Gender ...</option>
                            <option selected value="male"> Male</option>
                            <option value="female"> Female</option>
                        </select>
                        <input type="hidden" id="selectedGender" value="<%=user.gender%>">
                    </div>
                    <div class="col-md-6 text-center pt-3">
                        <button class="btn btn-primary" id="update">Update</button>
                    </div>
                </div>
                <div class="col-sm-12 collapse" id="updatePasswordForm">
                    <div class="col-md-6">
                        <label for="name">Current Password:</label>
                        <input type="password" class="form-control" id="oldPassword">
                    </div>
                    <div class="col-md-6">
                        <label for="username">New Password:</label>
                        <input type="password" class="form-control" id="newPassword">
                    </div>
                    <div class="col-md-6">
                        <label for="email">One more time please:</label>
                        <input type="password" class="form-control" id="reNewPassword">
                    </div>
                    <div class="col-md-6 text-center pt-3">
                        <button class="btn btn-primary" id="updatePassword">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Mmd-Rza 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="logout">Logout</button>
            </div>
        </div>
    </div>
</div>
<%- include('partials/admin-footer') %>